h1{
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
}

#solicitutu{
    
    display: flex;
    flex-direction: column;
    border: 5px solid goldenrod;
    width: 98%;
    height: 450px;
    border-radius: 5px;
 }

 .btn{
    background-color: goldenrod;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
    height: 20px;
    border-radius: 5px;
    font-size: large;
    
    
 }

 /*@media (max-width: 950px) {
    h1{
        font-size: 20px;

    }
 }*/